<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars_Agency</title>
</head>
<body>
    <div class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat" style="background-image:url('https://c4.wallpaperflare.com/wallpaper/839/17/210/nissan-skyline-gt-r-r34-nissan-gtr-r34-nissan-skyline-gt-r-r34-nismo-nissan-wallpaper-preview.jpg')">
        <div class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-10 shadow-lg backdrop-blur-md max-sm:px-8">
          <div class="text-white">
            <div class="mb-8 flex flex-col items-center">
              <img src="../Media/Cars_Agency_2_-removebg-preview.png" width="250" alt="" srcset="" />
              <h1 class="mb-2 text-2xl">LogIn</h1>
            </div>
            <form action="#">
              <div class="mb-4 text-lg">
                <input class="rounded-3xl border-none bg-gray-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md" type="text" name="name" placeholder="Email" />
              </div>
              <div class="mb-4 text-lg">
                <input class="rounded-3xl border-none bg-gray-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md" type="Password" name="name" placeholder="Password" />
              </div>
              <div class="mt-8 flex justify-center text-lg text-black">
                <button type="submit" class="rounded-3xl bg-red-400 bg-opacity-50 px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-orange-600">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
</body>
<script src="https://cdn.tailwindcss.com"></script>
<script src="../../Assets/Js/auth.js"></script>
</html>